@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .tooltip-text {
  visibility: hidden;
  width: 70px;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
}